<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>

    <style>
        {% block stylesheets %}{% endblock %}
    </style>

</head>
<body>
{% block body %}

{% endblock %}
<script>
    {% block javascripts %}


    {% endblock %}
</script>

</body>
</html>
