<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>{% block title %}Welcome!{% endblock %}</title>
    <style>
        *
        {
            box-sizing: border-box;
            padding: 0;
            margin: 0;
        }

        html
        {
            height: 100%;
        }

        body
        {
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        form
        {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
        }

        #registration-form
        {
            display: none;
        }
    {% block stylesheets %}{% endblock %}
    </style>
</head>
<body>
{% block body %}
    <div id="registration-or-sign-in-btns-div">
        <input id="registration-btn" type="button" value="Registrovat se">
        <input id="sign-in-btn" type="button" value="Prihlasit se">
    </div>
    <div>
        <form method="post" action="register" id="sign-in-form">
            <label for="username" >Uzivatelske jmeno</label>
            <input required  pattern=".{4,}" type="text" id="username" name="username">
            <br/>
            <label for="password" >Heslo</label>
            <input  required pattern=".{5,}" type="password" id="password" name="password">
            <br/>
            <input type="submit" name="submit-sign-in" value="prihlasit se" id="prihlas">
        </form>

        <div id="registration-form">
            {{ form_start(form) }}
            {{ form_widget(form) }}
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
<script>
    {% block javascripts %}
    let state = "sign-in";
    let registrationBtn = document.querySelector("#registration-btn");
    registrationBtn.addEventListener("click", registrationBtnClicked);
    let signInBtn = document.querySelector("#sign-in-btn");
    signInBtn.addEventListener("click", singInBtnClicked);
    let registrationForm = document.querySelector("#registration-form");
    let signInForm = document.querySelector("#sign-in-form");


    function singInBtnClicked(event)
    {
        if (state === "sign-in"){}
        else if(state ==="registration")
        {
            registrationForm.style.display = "none";
            signInForm.style.display = "flex";
            state = "sign-in"

        }

    }

    function registrationBtnClicked(event)
    {
        /*
        * Podivaj se jaky je stav, pokud je registration, coz je default a kliklo se znovu
        * na tlacitko registration tak se nesmi stat nic, coz ava smysl
        * */
        if (state === "registration")
        {

        }
        /*
        * Podivaj se jaky je stav, pokud je sign-in, a kliklo se na sign-in
        * tlacitko, tak musim dat registration-form display: none cimz ho schovam
        * a sign-in-form musim dat display flex aby slo videt
        * */
        else if (state === "sign-in")
        {
            registrationForm.style.display = "flex";
            signInForm.style.display = "none";
            state = "registration"

        }


    }

    {% endblock %}
</script>

</body>
</html>
