{% extends 'base.html.twig' %}

{% block stylesheets %}
    <style>
    *
    {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    }

    html
    {
    height: 100%;
    }

    body
    {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    }

    form
    {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    }
    </style>

{% endblock %}

{% block body %}
    <div>
        <h1>Prihlaseni</h1>
    </div>
    <div>
        {% if error %}
            <div id="chyba">
                {{ error }}
            </div>
        {% endif  %}
        <form method="post" {{ path("index") }} id="sign-in-form">

            <label for="username" >Uzivatelske jmeno</label>
            <input required  pattern=".{4,}" type="text" id="username" name="_username" value="{{ last_username }}">
            <br/>
            <label for="password" >Heslo</label>
            <input  required pattern=".{5,}" type="password" id="password" name="_password">
            <br/>
            <button type="submit">odeslat</button>

        </form>


    </div>
    <a href="{{ path("register") }}">Jeste nemam ucet - REGISTRACE</a>
{% endblock %}

