{% extends 'base.html.twig' %}
{% block title %}Homepage{% endblock %}
{% block stylesheets %}


{% endblock %}

{% block body %}
    <h3>Vice informaci</h3>
    <brú>
        {{ nabidka.product.productName }}
{% endblock %}
{% block javascripts %}



{% endblock %}