{% extends 'base.html.twig' %}
{% block title %}Homepage{% endblock %}
{% block stylesheets %}


{% endblock %}

{% block body %}
    <form id="form-nova-znacka" name="form-nova-znacka" method="post" action="{{ path("pridat_znacku") }}">
        <label for="jmeno-znacky">Zadejte jméno značky</label>
        <input name="jmeno-znacky" type="text" id="jmeno-znacky">
        <br/>
        <label for="jmeno-vyrobc">Zadejte jméno výrobce(pokud nevíte nechte prázdné)</label>
        <input name="jmeno-vyrobce" type="text" id="jmeno-vyrobc">
        <br/>
        <input type="submit" value="Vytvořit značku">
    </form>

{% endblock %}
{% block javascripts %}



{% endblock %}